@if (User.Identity.IsAuthenticated)
{
    <li>@User.Identity.Name خوش آمدید!</li>
    <li><a href="/logout"><i class="fa fa-sign-out"></i> <label>خروج</label></a></li>
}
else
{
    <li><a href="/Register">ثبت نام در سایت</a></li>
    <li><a href="/Login">ورود به حساب کاربری</a></li>
}