
@{
    ViewBag.Title = "ثبت نام با موفقیت انجام شد!";
    Layout = "~/Views/Shared/_DefualtLayout.cshtml";
}
<div dir="rtl" class="container">
<h4>تکمیل فرایند ثبت نام</h4>
<div class="alert alert-success">
    <h2>@ViewBag.UserName عزیز!</h2>
    <p>حساب کاربری شما فعال شد.از طریق این <a href="/Login" style="color:orangered">لینک</a> می توانید وارد سایت شوید</p>
</div>

    </div>