@model DataLayer.Users
@{
    ViewBag.Title = "موفقیت بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_DefualtLayout.cshtml";
}

<div class="alert alert-success" dir="rtl">
    <h3>@Model.UserName  عزیز!</h3>
    <p>لینک بازیابی کلمه عبور به ایمیل @Model.Email ارسال شد.برای بازیابی کلمه عبور روی آن کلیک کنید.</p>
</div>
