<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-9">
                <!-- Home slide -->
                <div class="block block-slider">
                    <ul class="home-slider kt-bxslider">
                        <li><img src="/Content/data/option1/slide03.jpg" alt="Slider"></li>
                        <li><img src="/Content/data/option1/slide04.jpg" alt="Slider"></li>
                        <li><img src="/Content/data/option1/slide02.jpg" alt="Slider"></li>
                        <li><img src="/Content/data/option1/slide01.jpg" alt="Slider"></li>
                    </ul>
                </div>
                <!-- ./Home slide -->
                <div class="row">


                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3 hidden-xs">
                <!-- block category -->

                <div class="block block-category">
                    <div class="block-head">
                        <ul class="nav-tab" style="text-align:center">
                            <li class=""><a data-toggle="tab" href="#tab-guarantee" aria-expanded="false">تخفیفات</a></li>
                            <li class="active"><a data-toggle="tab" href="#tab-categories" aria-expanded="true">دسته بندی ها</a></li>

                        </ul>
                    </div>
                    <div class="block-inner">
                        <div class="tab-container">
                            <div id="tab-categories" class="tab-panel active" dir="rtl">
                                <ul class="categories">
                                    <li>
                                        <a href="#" title="عطر و ادکلن">
                                            <span class="text">عطر و ادکلن </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="محصولات مراقبت از پوست">
                                            <span class="text">محصولات مراقبت از پوست </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#l" title="متکاپ">
                                            <span class="text">متکاپ </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="تلفن همراه">
                                            <span class="text">تلفن همراه </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="قرص">
                                            <span class="text">قرص </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="تماشای ورزش">
                                            <span class="text">سازمان دیده بان ورزش </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="پوشاک زنان">
                                            <span class="text">لباس زنانه </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="پوشاک مردانه">
                                            <span class="text">پوشاک مردانه </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="text">لوازم جانبی </span>

                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab-guarantee" class="tab-panel" dir="rtl">
                                <ul class="categories">
                                    <li>
                                        <a href="#" title="عطر و ادکلن">
                                            <span class="text">عطر و ادکلن </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="محصولات مراقبت از پوست">
                                            <span class="text">محصولات مراقبت از پوست </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="تماشای ورزش">
                                            <span class="text">سازمان دیده بان ورزش </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="تلفن همراه">
                                            <span class="text">تلفن همراه </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#l" title="متکاپ">
                                            <span class="text">متکاپ </span>
                                        </a>
                                    </li>


                                    <li>
                                        <a href="#" title="پوشاک زنان">
                                            <span class="text">لباس زنانه </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="قرص">
                                            <span class="text">قرص </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <span class="text">لوازم جانبی </span>

                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="پوشاک مردانه">
                                            <span class="text">پوشاک مردانه </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- block  host deals -->
        <div class="block block-hot-deals">
            <div class="block-head">
                <div class="block-title">
                    <div class="block-icon">
                        <img src="/Content/data/offers_time-icon.png" alt="store icon">
                    </div>
                    <div class="block-title-text text-sm"> </div>
                    <div class="block-title-text text-lg"> </div>
                </div>
                <div class="block-countdownt">
                    <span class="countdown-lastest" data-y="2020" data-m="10" data-d="1" data-h="00" data-i="00" data-s="00"></span>
                </div>
            </div>
            <div class="block-inner">
                <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>

                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/Content/data/option1/p6.jpg" alt="تولید - محصول"></a>
                                    <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                </div>
                                <div class="product-status">
                                    <span class="new">جدید</span>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">مانیتور</a>
                                </div>
                                <div class="price-box">
                                    <span class="product-price">165</span>
                                    <span class="product-price-old">130</span>
                                </div>
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="product-button">
                                    <a class="btn-add-wishlist" title="افزودن به دلخواه" href="#">افزودن لیست دلخواه </a>
                                    <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                    <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/Content/data/option1/p7.jpg" alt="تولید - محصول"></a>
                                    <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">ساعت  شیائومی</a>
                                </div>
                                <div class="price-box">
                                    <span class="product-price">165</span>
                                    <span class="product-price-old">130</span>
                                </div>
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="product-button">
                                    <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                    <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                    <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/Content/data/option1/p8.jpg" alt="تولید - محصول"></a>
                                    <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">Samsung Galaxy S8 64GB Pr</a>
                                </div>
                                <div class="price-box">
                                    <span class="product-price">165</span>
                                    <span class="product-price-old">130</span>
                                </div>
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="product-button">
                                    <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                    <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                    <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/Content/data/option1/p9.jpg" alt="تولید - محصول"></a>
                                    <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">تلویزیون پلاسما</a>
                                </div>
                                <div class="price-box">
                                    <span class="product-price">165</span>
                                    <span class="product-price-old">130</span>
                                </div>
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="product-button">
                                    <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                    <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                    <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/Content/data/option1/p10.jpg" alt="تولید - محصول"></a>
                                    <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">گوشواره </a>
                                </div>
                                <div class="price-box">
                                    <span class="product-price">165</span>
                                    <span class="product-price-old">130</span>
                                </div>
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="product-button">
                                    <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                    <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                    <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/Content/data/option1/p9.jpg" alt="تولید - محصول"></a>
                                    <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">تلویزیون پلاسما</a>
                                </div>
                                <div class="price-box">
                                    <span class="product-price">165</span>
                                    <span class="product-price-old">130</span>
                                </div>
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="product-button">
                                    <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                    <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                    <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <!-- ./block hot deals -->
    </div>
    <!--Block banner -->
    <div class="row">
        <div class="row">
            <div class="col-sm-6">
                <div class="block block-banner banner-hover">
                    <a href="#"><img src="/Content/data/option1/banner3.png" alt="Banner"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block block-banner banner-hover">
                    <a href="#"><img src="/Content/data/option1/banner4.png" alt="Banner"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Block banner -->



    <div class="">
        <div class="row">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-9">

                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="block block-shop-features">

                                <div class="block-inner">
                                    <ul class="list-banner">
                                        <li class="banner-hover"><a href="#"><img src="/Content/data/option1/1.gif" alt="بنر"></a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 col-lg-8">

                            <div class="block block-offers">
                                <div class="block-head">
                                    <div class="block-title">
                                        <div class="block-icon">
                                            <img src="/Content/data/offers-icon.png" alt="نماد فروشگاه">
                                        </div>
                                        <div class="block-title-text text-sm"> </div>
                                        <div class="block-title-text text-lg"> </div>
                                    </div>
                                </div>
                                <div class="block-inner">
                                    <ul class="products kt-owl-carousel" data-margin="0" data-loop="true" data-nav="true" data-responsive='{"0":{"items":2},"600":{"items":2},"1000":{"items":2}}'>
                                        <li class="product">
                                            <div class="product-container">
                                                <div class="product-left">
                                                    <div class="product-thumb">
                                                        <a class="product-img" href="#"><img src="/Content/data/option1/p6.jpg" alt="تولید - محصول"></a>
                                                        <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                                    </div>
                                                </div>
                                                <div class="product-right">
                                                    <div class="product-name">
                                                        <a href="#">گلکسیs8</a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="product-price">165</span>
                                                        <span class="product-price-old">130</span>
                                                    </div>
                                                    <div class="product-star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </div>
                                                    <div class="product-button">
                                                        <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                                        <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                                        <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="product">
                                            <div class="product-container">
                                                <div class="product-left">
                                                    <div class="product-thumb">
                                                        <a class="product-img" href="#"><img src="/Content/data/option1/p7.jpg" alt="تولید - محصول"></a>
                                                        <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                                    </div>
                                                </div>
                                                <div class="product-right">
                                                    <div class="product-name">
                                                        <a href="#">ساعت</a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="product-price">165</span>
                                                        <span class="product-price-old">130</span>
                                                    </div>
                                                    <div class="product-star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </div>
                                                    <div class="product-button">
                                                        <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                                        <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                                        <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="product">
                                            <div class="product-container">
                                                <div class="product-left">
                                                    <div class="product-thumb">
                                                        <a class="product-img" href="#"><img src="/Content/data/option1/p5.jpg" alt="تولید - محصول"></a>
                                                        <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                                    </div>
                                                </div>
                                                <div class="product-right">
                                                    <div class="product-name">
                                                        <a href="#">دستبند</a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="product-price">165</span>
                                                        <span class="product-price-old">130</span>
                                                    </div>
                                                    <div class="product-star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </div>
                                                    <div class="product-button">
                                                        <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                                        <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                                        <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="product">
                                            <div class="product-container">
                                                <div class="product-left">
                                                    <div class="product-thumb">
                                                        <a class="product-img" href="#"><img src="/Content/data/option1/p4.jpg" alt="تولید - محصول"></a>
                                                        <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                                    </div>
                                                </div>
                                                <div class="product-right">
                                                    <div class="product-name">
                                                        <a href="#">مانیتور</a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="product-price">165</span>
                                                        <span class="product-price-old">130</span>
                                                    </div>
                                                    <div class="product-star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </div>
                                                    <div class="product-button">
                                                        <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                                        <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                                        <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">

                    <div class="block block-top-sellers">
                        <div class="block-head">
                            <div class="block-title">
                                <div class="block-icon">
                                    <img src="/Content/data/top-seller-icon.png" alt="نماد فروشگاه">
                                </div>
                                <div class="block-title-text text-sm"> </div>
                                <div class="block-title-text text-lg"> </div>
                            </div>
                        </div>
                        <div class="block-inner">
                            <ul class="products kt-owl-carousel" data-items="1" data-autoplay="true" data-loop="true" data-nav="true">
                                <li class="product">
                                    <div class="product-container">
                                        <div class="product-left">
                                            <div class="product-thumb">
                                                <a class="product-img" href="#"><img src="/Content/data/option1/p1.jpg" alt="تولید - محصول"></a>
                                                <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                            </div>
                                        </div>
                                        <div class="product-right">
                                            <div class="product-name">
                                                <a href="#">عطر</a>
                                            </div>
                                            <div class="price-box">
                                                <span class="product-price">165</span>
                                                <span class="product-price-old">130</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                            <div class="product-button">
                                                <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                                <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                                <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product">
                                    <div class="product-container">
                                        <div class="product-left">
                                            <div class="product-thumb">
                                                <a class="product-img" href="#"><img src="/Content/data/option1/p2.jpg" alt="تولید - محصول"></a>
                                                <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                            </div>
                                        </div>
                                        <div class="product-right">
                                            <div class="product-name">
                                                <a href="#">عطر</a>
                                            </div>
                                            <div class="price-box">
                                                <span class="product-price">165</span>
                                                <span class="product-price-old">130</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                            <div class="product-button">
                                                <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                                <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                                <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- block-popular-cat-->
    <!--Block banner -->
    <div class="row">
        <div class="row">
            <div class="col-sm-3">
                <div class="block block-banner banner-hover">
                    <a href="#"><img src="/Content/data/Logo_shop/1.jpg" alt="Banner"></a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="block block-banner banner-hover">
                    <a href="#"><img src="/Content/data/Logo_shop/2.jpg" alt="Banner"></a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="block block-banner banner-hover">
                    <a href="#"><img src="/Content/data/Logo_shop/3.jpg" alt="Banner"></a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="block block-banner banner-hover">
                    <a href="#"><img src="/Content/data/Logo_shop/4.jpg" alt="Banner"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Block banner -->
    <div class="row">
        <!-- block  host deals -->
        <div class="block block-hot-deals">

            <div class="block-inner">
                <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>

                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/Content/data/option1/p6.jpg" alt="تولید - محصول"></a>
                                    <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                </div>
                                <div class="product-status">
                                    <span class="new">جدید</span>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">گلکسی s8+</a>
                                </div>
                                <div class="price-box">
                                    <span class="product-price"> 139.98 </span>
                                    <span class="product-price-old"> 169.00</span>
                                </div>
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="product-button">
                                    <a class="btn-add-wishlist" title="افزودن به دلخواه" href="#">افزودن لیست دلخواه </a>
                                    <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                    <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/Content/data/option1/p7.jpg" alt="تولید - محصول"></a>
                                    <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">ساعت  شیائومی</a>
                                </div>
                                <div class="price-box">
                                    <span class="product-price"> 139.98 </span>
                                    <span class="product-price-old"> 169.00</span>
                                </div>
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="product-button">
                                    <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                    <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                    <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/Content/data/option1/p8.jpg" alt="تولید - محصول"></a>
                                    <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">Samsung Galaxy S8 64GB Pr</a>
                                </div>
                                <div class="price-box">
                                    <span class="product-price"> 139.98 </span>
                                    <span class="product-price-old"> 169.00</span>
                                </div>
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="product-button">
                                    <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                    <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                    <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/Content/data/option1/p9.jpg" alt="تولید - محصول"></a>
                                    <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">تلویزیون پلاسما</a>
                                </div>
                                <div class="price-box">
                                    <span class="product-price"> 139.98 </span>
                                    <span class="product-price-old"> 169.00</span>
                                </div>
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="product-button">
                                    <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                    <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                    <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/Content/data/option1/p10.jpg" alt="تولید - محصول"></a>
                                    <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">گوشواره </a>
                                </div>
                                <div class="price-box">
                                    <span class="product-price"> 139.98 </span>
                                    <span class="product-price-old"> 169.00</span>
                                </div>
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="product-button">
                                    <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                    <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                    <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/Content/data/option1/p9.jpg" alt="تولید - محصول"></a>
                                    <a title="مشاهده سریع" href="#" class="btn-quick-view">مشاهده سریع</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">تلویزیون پلاسما</a>
                                </div>
                                <div class="price-box">
                                    <span class="product-price"> 139.98 </span>
                                    <span class="product-price-old"> 169.00</span>
                                </div>
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="product-button">
                                    <a class="btn-add-wishlist" title="افزودن به لیست دلخواه" href="#">افزودن لیست دلخواه </a>
                                    <a class="btn-add-comparre" title="افزودن برای مقایسه" href="#">افزودن مقایسه مقایسه </a>
                                    <a class="button-radius btn-add-cart" title="افزودن به سبد خرید" href="#">خرید<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <!-- ./block hot deals -->
    </div>
    <!-- ./block-popular-cat-->
</div>
